.ui-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 90px;
  font-size: 12px;
  font-weight: 500;
  color: #262F56;
  border-radius: 6px;
  transition: 0.3s;

  @media(max-width:768px){
     height: 32px;
     font-size: 10px;
  }

  &:hover{
      transform: scale(1.04);
      opacity: 0.3;
  }

  &--internal{
    background-color: #F6F6F6;

    @media(max-width:768px){
      width: 59px;
    }
  }

  &--external{
    background-color: #00C659;
    color: #fff;
    width: 82px;

    @media(max-width:768px){
      width: 53px;
    }
  }
}